{% extends 'templates\base.html' %}

{% block content %}
    {% include 'templates\navbar.html' %}
    <div class="container" style="height: 100px;">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                <h1 style="color: gray">Personal Information</h1>
            </div>
        </div>
    </div>


    <div class="container">
        {% if profile_table %}
            <div class="row">
                <div class="col">
                    <h3>Users Table</h3>
                    <table class="table table-hover table-bordered">
                        {{profile_table|safe}}
                    </table>
                </div>
            </div> <br>
        {% endif %}
        {% if images_table %}
            <div class="row">
                <div class="col">
                    <h3>Images Table</h3>
                    <table class="table table-hover table-bordered">
                        {{images_table|safe}}
                    </table>
                </div>
            </div> <br>
        {% endif %}
        {% if algorithms_table %}
            <div class="row">
                <div class="col">
                    <h3>Algorithms Table</h3>
                    <table class="table table-hover table-bordered">
                        {{algorithms_table|safe}}
                    </table>
                </div>
            </div> 
        {% endif %}
        {% if algorithms_table %}
            <div class="row">
                <div class="col">
                    <h3>Preset Images Table</h3>
                    <table class="table table-hover table-bordered">
                        {{preset_images_table|safe}}
                    </table>
                </div>
            </div> 
        {% endif %}      
    </div>

    <div style="height: 1000px;"></div>
    
    {% include 'templates\footer.html' %}
{% endblock %}