{% extends 'templates\base.html' %}

{% block content %}
    {% include 'templates\navbar.html' %}

    <div style="height: 100px;"></div>

    <div class="container text-center">

        <div class="row justify-content-md-center">
            <img src="data:image/png;base64,{{ image }}" 
            width="500" height="500" 
            alt="Random Picture" class="img-fluid rounded shadow-lg p-4 mb-4 bg-light">
        </div><br><br> 

        <div class="row justify-content-md-center">
            <div class="col-md-2 shadow-lg p-3 mb-5 bg-white rounded hoverable">
                <button onClick="window.location.reload();" class="btn btn-lg">Get New Picture</button>
            </div>
        </div>

    </div>

    <div style="height: 1000px;"></div>
    {% include 'templates\footer.html' %}
{% endblock %}